Repository maplibre/maplibre-gl-js, pull requests merged in 2022-10, with the labels that each got.

#1605 Diff-style updates for geojson sources
  CHANGELOG.md
  src/source/geojson_source.ts
  src/source/geojson_source_diff.test.ts
  src/source/geojson_source_diff.ts
  src/source/geojson_worker_source.test.ts
  src/source/geojson_worker_source.ts
  test/debug-pages/geojson-updates.html
Labels: waiting for code review fixes

#1671 Create render-to-texture renderpool to render terrain in paralell
  CHANGELOG.md
  src/gl/render_pool.test.ts
  src/gl/render_pool.ts
  src/render/draw_terrain.ts
  src/render/painter.ts
  src/render/render_to_texture.test.ts
  src/render/render_to_texture.ts
  src/render/terrain.test.ts
  src/render/terrain.ts
  src/source/terrain_source_cache.test.ts
  src/source/terrain_source_cache.ts
  src/source/tile.ts
  src/style/style.test.ts
  src/style/style.ts
  src/ui/map.ts
Labels: Terrain 3D, waiting for code review fixes

#1707 Tile stiching render test
  test/integration/assets/tiles/terrain/10-189-401.terrain.png
  test/integration/assets/tiles/terrain/10-189-402.terrain.png
  test/integration/assets/tiles/terrain/10-190-401.terrain.png
  test/integration/assets/tiles/terrain/10-190-402.terrain.png
  test/integration/assets/tiles/terrain/11-379-802.terrain.png
  test/integration/assets/tiles/terrain/11-379-803.terrain.png
  test/integration/assets/tiles/terrain/11-379-804.terrain.png
  test/integration/assets/tiles/terrain/11-380-802.terrain.png
  test/integration/assets/tiles/terrain/11-380-803.terrain.png
  test/integration/assets/tiles/terrain/11-380-804.terrain.png
  test/integration/assets/tiles/terrain/5-5-12.terrain.png
  test/integration/assets/tiles/white-with-x.png
  test/integration/render/render.test.ts
  test/integration/render/tests/terrain/tile-stiching/expected.png
  test/integration/render/tests/terrain/tile-stiching/style.json
Labels: Terrain 3D

#1710 Create a frame around render-to-texture tiles to avoid gaps on different zoom levels
  CHANGELOG.md
  build/generate-struct-arrays.ts
  src/data/pos3d_attributes.ts
  src/render/draw_terrain.ts
  src/render/program/terrain_program.ts
  src/render/terrain.test.ts
  src/render/terrain.ts
  src/shaders/terrain.vertex.glsl
  test/integration/render/tests/terrain/tile-stiching/expected.png
Labels: Terrain 3D

#1715 Listen to webglcontextcreationerror event and give detailed debug info when it fails
  CHANGELOG.md
  src/ui/map.test.ts
  src/ui/map.ts
  src/util/test/util.ts
Labels: waiting for code review fixes

#1765 fill-pattern with pixelRatio > 1 is now switched correctly at runtime
  CHANGELOG.md
  src/render/draw_fill.test.ts
  src/render/draw_fill.ts
  src/render/draw_fill_extrusion.ts
  src/render/update_pattern_positions_in_program.ts
  test/debug-pages/switch-pattern.html
Labels: waiting for code review fixes
